@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

:root {
  --white-input: #eef0f58c;
  --white: #e8e9ed;
  --blue: #18172c;
  --green: #00d084;
  --pink: #ff4b77;
  --blue-primary: #439CEF;
  --gray-secondary: #F8F8F8;
  --blue-primary-50: rgba(67, 156, 239, 0.5);
  --blue-light: #89c0f3;
  --white-darker: #fbfbfb;
}

html {
  min-height: 100%;
  position: relative;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  text-transform: lowercase;
}

button:focus {
  outline: none;
  border: none;
}

p {
  margin-bottom: 0;
}

label {
  margin: 0;
}

section.header {
  background: rgb(243, 243, 243);
}

.row.row-nav {
  justify-content: flex-end;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 10vh;
  background: rgb(243, 243, 243);
  color: rgb(112, 110, 110);
}

.navigation.active {
  color: var(--blue-primary);
}

.nav-links {
  margin: 0 1% 0 0;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 1.5em;
}

.nav-links li {
  list-style: none;
  color: #89c0f3;
}


.btn-login-wrapper {
  height: 100%;
  width: 100%;
}

.btn-nav-login {
  font-size: 1em;
  text-decoration: none !important;
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
  padding: 5% 45%;
  height: 20%;
  background: var(--blue-primary);
  color: #fff;
  border-radius: 6px;
}

.btn-nav-login:hover {
  color: #e6f0fa;
}

.nav-links li .navbar__link{
  text-decoration: none;
  cursor: pointer;
  color: #89c0f3;
  border-bottom: 3px solid transparent;
}

.nav-links li .navbar__link:hover{
  transform: translateY(-2px);
}

.nav-links li .navbar__link--active {
  color: #096bc5;
  font-weight: 450;
  transition: color .2s ease-in-out;
}

.dropdown {
  display: flex;
}

.menu {
  position: relative;
}

.menu input {
  position: absolute;
  opacity: 0;
  top: 18%;
  left: 6%;
  cursor: pointer;
  z-index: 3;
}

.menu i {
  padding-left: 20%;
  font-size: .8em;
  transition: all 0.5s;
}

/* Chevron Menu animation */
.megamenu-check-label {
  cursor: pointer;
}

i.arrow-bawah {
  transform-origin: 60% 40%;
}

.menu input:checked ~ .arrow-bawah {
  color: var(--blue-primary);
  transform: rotate(180deg);
}

.wrapper {
  min-width: 100%;
  display: flex;
  padding: 5% 0 5% 0;
  align-items: center;
  justify-content: space-between;
}

.big-title {
  color: var(--blue-primary);
  line-height: 1.1em;
  font-size: 6.4em;
}

.slogant-title {
  margin-top: 5%;
  font-size: 1.7em;
  color: #89c0f3;
}
.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 1%;
  margin-bottom: 10%;
  width: 100%;
  border-radius: 10px;
}

.search-box-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.find {
  flex-grow: 2;
  display: flex;
  align-items: center;
  padding-left: 2.5%;
}

.find i {
  color: var(--blue-primary);
  font-size: 2em;
  margin-right: 6%;
}

.find input {
  height: 50px;
  width: 100%;
  border: none;
  font-size: 1.7em;
}

.find input:focus {
  outline: unset;
}

.find input::-webkit-input-placeholder {
  line-height: 7;
}

.vl {
  flex-grow: 1;
  border-right: 2px solid #ddd;
  height: 100%;
}

.anywhere {
  flex-grow: 4;
  display: flex;
  align-items: center;
  padding-left: 2.5%;
}

.anywhere i {
  color: var(--blue-primary);
  font-size: 2em;
  margin-right: 6%;
}

.anywhere input {
  height: 50px;
  width: 100%;
  border: none;
  font-size: 1.7em;
}

.anywhere input:focus {
  outline: unset;
}

.anywhere input::-webkit-input-placeholder {
  line-height: 7;
}

.category-search-box {
  position: relative;
  flex-grow: 2;
}

select.select-category {
  cursor: pointer;
}

select.select-category option {
  cursor: pointer !important;
}

.category-search-box i.fa-chevron-up {
  color: var(--blue-primary);
  left: 25%;
  top: 10%;
  position: absolute;
}

.category-search-box i.fa-chevron-down {
  color: var(--blue-primary);
  left: 25%;
  bottom: 20%;
  position: absolute;
}

.category-search-box select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  
  display: block;
  font-size: 16px;
  color: #767676;
  width: 60%;
  border: none;
  outline: none;
  font-size: 1.7em;
}

.btn-search-box {
  font-size: 1.7em;
  font-weight: 200;
  outline: none;
  border: none;
  width: 10%;
  height: 100%;
  background: var(--blue-primary);
  color: #fff;
  border-radius: 8px;
}

.btn-search-box:hover {
  color: #e6f0fa;
}

.spots-wrapper {
  width: 100%;
  padding-top: 5%;
}

.spots-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spots-title span {
  font-size: 2.8em;
  font-weight: 500;
  color: #292929;
}

.spots-title p {
  font-size: 1.8em;
  color: #767676;
  margin: 0 !important;
}

.spots-list {
  margin-top: 6%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px 30px;
}

.crd {
  width: 100% !important;
  height: 280px;
  background: #fff; /*var(--gray-secondary); */
  padding: 4.5% 5% !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-decoration: none !important;
}

.crd:hover .img-wrapper img {
  transform: scale(1.3);
  transition: transform .2s;
}

.crd .img-wrapper {
  position: relative;
  height: 50%;
  overflow: hidden;
  border-radius: 8px;
}

.img-wrapper img {
  position: absolute;
  width: 100%;
}

.title-wrapper {
  color: rgba(63, 61, 86, 1);
  margin-top: 3.3%;
  font-size: 2.5em;
  font-weight: 500;
}

.rate-wrapper {
  margin-top: 2.3%;
  display: flex;
  align-items: center;
}

.rating {
  width: 30%;
  color: rgb(255, 225, 0);
  display: flex;
  justify-content: space-around;
  font-size: 1.3em;
}

.total-reviews {
  margin-left: 3.5%;
  font-size: 1.5em;
  color: #767676;
}

.location-wrapper {
  margin-top: 8%;
  display: flex;
}

.location-wrapper i {
  font-size: 2em;
  color: var(--blue-primary);
}

.location-wrapper .location-name {
  margin-left: 3%;
  color: #89c0f3;
  font-size: 1.5em;
}

.city-wrapper {
  width: 100%;
  padding-top: 8%;
  padding-bottom: 15%;
}

.desc-city p{
  padding-top: 2%;
  font-size: 1.7em;
  color: rgb(106, 106, 106);;
}



/* List Attraction Page */

.search-box.list-page {
  margin: 5% 0 5% 0;
}

#filter-toggle {
  position: absolute;
  left: -9999px;
}

.spots-wrapper.listpage {
  padding: 2.5% 0 2.5% 0;
}

.list-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4.6%;
}

.filter-wrapper {
  display: flex;
  align-items: center;
}

.filter-wrapper label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px 15px 15px;
  cursor: pointer;
}

.filter-wrapper span:last-child {
  position: relative;
  width: 60px;
  height: 26px;
  border-radius: 15px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  background: var(--gray);
  transition: all 0.3s;
}

.filter-wrapper span:last-child::before,
.filter-wrapper span:last-child::after {
  content: "";
  position: absolute;
}

.filter-wrapper span:last-child::before {
  left: 1px;
  top: 1px;
  width: 24px;
  height: 24px;
  background: var(--white);
  border-radius: 50%;
  z-index: 1;
  transition: transform 0.3s;
}

.filter-wrapper span:last-child::after {
  top: 50%;
  right: 13px;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  background: url(./svg/uncheck.svg);
  filter: invert(74%) sepia(100%) saturate(0%) hue-rotate(70deg) brightness(98%) contrast(95%);
  background-size: 12px 12px;
}

.filter-wrapper [type="checkbox"]:checked + label span:last-child {
  background: var(--blue-primary);
}

.filter-wrapper [type="checkbox"]:checked + label span:last-child::before {
  transform: translateX(34px);
}

.filter-wrapper [type="checkbox"]:checked + label span:last-child::after {
  width: 14px;
  height: 14px;
  /*right: auto;*/
  left: 13px;
  background-image: url(./svg/check.svg);
  filter: invert(100%) sepia(94%) saturate(24%) hue-rotate(352deg) brightness(105%) contrast(107%);
  background-size: 14px 14px;
}

.list-title p {
  font-size: 1.8em;
  color: #767676;
}

.grid-filter {
  /* active filter grid awal */
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-gap: 3%;
  transition: 1s;
}

.main-list-filter {
  /* active filter main */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 2fr);
  grid-gap: 40px 30px;
  transition: 1s;
}

.grid-wrapper {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 0 auto;
  grid-template-rows: 100%;
  transition: 1s;
  background-color: #fff;
}

.main-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 2fr);
  grid-gap: 40px 30px;
  transition: 1s;
}

.main-list .crd, .main-list-filter .crd {
  width: 100%;
  padding: 4.5% 5%;
}

.filter-panel {
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 5% 8%;
}

.filter-panel.show {
  visibility: visible;
}

.filter-panel.none {
  visibility: hidden;
}

.sortby-tunel p{
  font-weight: 500;
  font-size: 2.5em;
  color: rgba(63, 61, 86, 1);
}

.sort-checkbox {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px 15px;
  margin-top: 8%;
}

.sortby-label {
  display: flex;
  justify-content: center;
  width: 90%;
  background-color: rgb(247, 246, 246);
  color: var(--blue-primary-50);
  padding: 5% 10%;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.7em;
}

.sortby-label::selection {
  color: none;
  background: none;
}

.visually-hidden {
  position: absolute;
  left: -99999px;
}

#reviews:checked ~ .sortby-label.r {
  background-color: var(--blue-primary);
  color: #fff;
}

#distance:checked ~ .sortby-label.d {
  background-color: var(--blue-primary);
  color: #fff;
}

#alphabet:checked ~ .sortby-label.a {
  background-color: var(--blue-primary);
  color: #fff;
}

.line-divider {
  margin-top: 10%;
  border: 1px solid #E5E5E5;
}

.types-tunel {
  margin-top: 10%;
}

.types-tunel-title {
  display: flex;
  justify-content: space-between;
}

.types-tunel-title p {
  color: rgba(63, 61, 86, 1);
  font-weight: 500;
  font-size: 2.5em;
}

.types-tunel-title button {
  background: none;
  border: none;
  outline: none;
  font-size: 1.5em;
  color: var(--blue-light);
}

.type-checkbox {
  position: relative;
  padding: 3%;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--white-input);
  border-radius: 10px;
  display: grid;
  align-items: center;
}

.type-checkbox input {
  position: absolute;
  left: -9999px;
}

.type-checkbox label {
  position: absolute;
  top: 22%;
  left: 5%;
  width: 25px;
  height: 25px;
  background: rgb(252, 252, 252);
  border: 1.5px solid #767676;
  border-radius: 5px;
  cursor: pointer;
}

.type-checkbox .label-title {
  margin-left: 15%;
  font-size: 1.7em;
  color: #767676;
}

label .checkmark {
  position: relative;
  width: 25px;
  height: 25px;
}

label .checkmark::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

label .checkmark::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.type-checkbox input:checked + label {
  border: none;
  background: var(--blue-primary);
  border-radius: 5px;
}

.type-checkbox input:checked + label .checkmark::after {
  background: url(./svg/check.svg);
  filter: invert(100%) sepia(94%) saturate(24%) hue-rotate(352deg) brightness(105%) contrast(107%);
  background-repeat: no-repeat;
  background-size: 15px;
}

.types-checkbox {
  margin-top: 10%;
}

.types-checkbox ul {
  position: relative;
  padding: 0;
  list-style-type: none;
}

.types-checkbox ul .show-wrapper {
  position: relative;
  height: auto;
}

.show-wrapper [type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.show-wrapper .show-label {
  color: var(--blue-primary);
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 100%;
  transition: top .45s cubic-bezier(.44, .99, .48, 1);
}

.show-wrapper .show-label::before {
  position: absolute;
}

.show-wrapper .show-label::before {
  content: 'show more';
  top: 10px;
  font-size: 1.7em;
}

.show-wrapper input[type="checkbox"] ~ ul {
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: max-height .45s cubic-bezier(.44, .99, .48, 1);
}

.show-wrapper input[type="checkbox"]:checked ~ ul {
  max-height: 300px;
}

.show-wrapper input[type="checkbox"]:checked + .show-label {
  top: 100%;
}

.show-wrapper input[type="checkbox"]:checked + .show-label::before {
  content: 'show less';
}

.types-checkbox ul li {
  margin-top: 5%;
}

.types-checkbox ul li:first-child {
  margin-top: 0;
}

.line-divider.dua {
  margin-top: 25%;
}

.hours-operation {
  margin-top: 10%;
}

.hours-operation-title {
  color: rgba(63, 61, 86, 1);
  font-weight: 500;
  font-size: 2.5em;
}

.hours-operation-field {
  margin-top: 10%;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr .5fr 1fr;
}

.hours-operation-field input {
  width: 100%;
  height: 42px;
  border-radius: 8px;
  outline: none;
  border: none;
  background: var(--white-input);
  text-align: center;
  font-size: 1.8em;
  color: #767676;
}

.field-to {
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-to span {
  font-size: 2em;
  font-weight: 500;
  color: var(--blue-primary);
}

/*^ Responsive Breakpoint */

/*! Hamburger menu */
.menu-toggle {
  display: none;
  padding-right: 5%;
  flex-direction: column;
  height: 20px;
  z-index: 3;
  justify-content: space-between;
}

/*! Hamburger menu animation  */
.menu-toggle span:nth-child(2) {
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  -moz-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
  background-color: #767676;
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
  background-color: #767676;
}

.menu-toggle input:checked {
  border: none;
  outline: none;
}

.menu-toggle input {
  -moz-appearance: none;
  position: absolute;
  width: 30px;
  height: 28px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background-color: var(--blue-light);
  transition: all 0.5s;
}

/** ukuran tablet */
@media screen and (max-width: 991px) {
  .nav-links {
    width: 70%;
  }
}

/** ukuran mobile */
@media screen and (max-width: 576px) {
  .nav-links {
    padding-top: 15%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;  
    width: 80%;
    margin: 0;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--white-darker);
    flex-direction: column;
    z-index: -1;
    transform: translateX(100%);
    opacity: 0;
    transition: all .5s;
  }
  
  .nav-links.slide {
    z-index: 2;
    opacity: 1;
    transform: translateX(0);
  }
  
  .nav-links li {
    margin-bottom: 20%;
  }
  
  .btn-nav-login {
    padding: 8px 25px;
  }

  .menu-toggle {
    display: flex;
  }

  .main-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 10px;
  }

  .title-wrapper {
    font-size: 2em;
  }

  .img-wrapper img {
    transform: scale(2);
  }
  
  .list-title {
    padding-left: 4%;
    padding-right: 4%;
  }

  .search-box {
    width: 90%;
    align-items: center;
  }

  .vl {
    visibility: hidden;
    display: none;
  }

  .anywhere, .category-search-box {
    visibility: hidden;
    display: none;
  }
  
  .btn-search-box {
    width: 20%;
    margin-right: 1%;
  }

  section.main {
    padding: 0 2% 10% 2%;
  }
  
  .grid-filter {
    /* active filter grid awal */
    grid-template-columns: 1fr 1fr;
    transition: 1s;
  }

  .main-list-filter {
    grid-template-columns: 1fr;
  }

  .sortby-tunel p {
    font-size: 2em;
  }

  .sortby-label {
    font-size: 1.2em;
    border-radius: 6px;
  }

  .types-tunel-title p {
    color: rgba(63, 61, 86, 1);
    font-size: 2em;
  }

  .type-checkbox .label-title {
    margin-left: 20%;
  }

  .type-checkbox {
    margin-top: 10%;
  }

  .spots-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .desc-city p {
    font-size: 1.3em;
  }

  .worldmap-img img {
    visibility: hidden;
    display: none;
    opacity: 0;
    pointer-events: none;
  }

  .slogant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .big-title {
    font-size: 5em;
  }

  .slogant-title {
    font-size: 1.6em;
  }

}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row.ia {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: auto;
}

.align-items-center {
  -ms-flex-pack:center!important;
  justify-content:center!important
}

.col-8.ia {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  position: relative;
  width: 100%;
}

.col-3.ia {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
}

.col.ia {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
}
/* 
.navbar {
  width: 100%;
}

nav {
  text-align: end;
  padding: 1em 0;
}

ul, ol {
  padding: 0;
  display: inline;
}

ol > li {
  display: block;
  margin-left: 0;
}

li {
  display: inline;
  margin-left: 2em;
}

nav > ol > li:first-child {
  display: inline;
  margin-left: 0em;
}

ul>li {
  list-style: none;
  color: blue;
}


.nav-select {
  color: blue;
  border: none;
  outline: none;
}

.nav-active, .nav-active > button {
  color: red!important;
} */

.btn-ia {
  padding: 7px 20px;
  border: none;
  background-color: blue;
  color: white;
  outline: none;
  border-radius: 5px;
}

.header.ia {
  margin-top: 2em;
  text-align: start;
}

.clear {
  clear: both;
}

.header-title {
  margin-bottom: 2em;
}

.header-title>p {
  margin-right: 3em;
  display: inline;
}

.header-title>span {
  color: blue;
}

.header-category>.row>.col>div {
  margin-bottom: 1em;
}

.header-category>.row>.col>div:last-child {
  margin-bottom: 0;
}

.header-category>.row>.col .icon {
  display: inline-block;
  margin-right: 1em;
  background-color: rgba(255, 0, 0, 30%);
  border-radius: 7px;
  width: 2.5em;
  height: 2.5em;
  vertical-align: middle;
}

.header-search>ol>li {
  margin-left: 1em;
  margin-bottom: 1em;
}

.header-search>ol>li:last-child {
  margin-bottom: 0;
}

.ia.block {
  /* margin-top: 50px; */
  padding-top: 1%;
}

.color {
  background-color: rgba(0, 0, 0, 5%);
}

.form-row {
  padding: 10px;
  padding-left: 30px;
  margin: 0px auto;
  background-color: white;
  border: 1px solid white;
  border-radius: 7px;
}

.search {
  border: none;
  color: green;
  padding: 5px 8px;
  /* width: ; */
}

.input-group {
  cursor: text;
  display: inline-block;
  vertical-align: sub;
  border-right: 1px solid rgba(0, 0, 0, 10%);
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 95%;
  position: relative;
  width: 100%;
}

form>.row>.col:nth-child(2)>.input-group {
  border: none;
}

.search {
  caret-color: green;
}

.search:focus {
  background-color: white;
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 30%);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 30%);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(0, 0, 0, 30%);
}

.select {
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: rgba(0, 0, 0, 30%);
  padding-right: 20px;
}

label.as {
  position: relative;
  align-self: center;
  margin-right: 10px;
}

label.as:after {
  content: '<>';
  font: 13px "Consolas", monospace;
  color: rgba(0, 0, 0, 30%);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 1%;
  top: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
}

label.as:before {
  content: '';
  width: 100%;
  height: 100%;
}

.search-s {
  background-color: blue;
  border: none;
  padding: 10px 14px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: opacity 0.5s;
}

.search-s:hover {
  opacity: 75%;
}

.material-icons, .material-icons-outlined {
  vertical-align: middle;
  font-size: 22px;
  padding-right: 7px;
}

.p-100 {
  padding-right: auto;
}

.h-130 {
  min-height: 200px;
}

h3 {
  display: inline-block;
  margin: 0;
}

.float-right {
  float: right;
}

.kikik {
  margin-top: 20px;
}

.kl {
  margin-bottom: 75px;
}

.kl>h2 {
  display: inline;
  color: blue;
}

.kd {
  width: 100%;
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.kd::-webkit-scrollbar {
  height: 8px;
}

.kd::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.kd::-webkit-scrollbar-track {
  background-color: black;
  box-shadow: inset 0 0 0 3px white;
}

.kd::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 5px;
}

.b {
  margin-right: 25px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 5%);
  border-radius: 7px;
  width: 250px;
  padding: 15px;
  margin-bottom: 20px;
}

.b:last-child {
  margin-right: 0;
}

.my-1 {
  margin: 10px 0;
}

.img {
  /* border: 1px sl; */
  border-radius: 7px;
  width: 100%;
  height: 110px;
}

.rating.ia {
  font-size: 15px;
  width: 100%;
  display: block;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 60%);
}

.rating.ia>i {
  color: orange;
  vertical-align: bottom;
  font-size: 18px;
  padding-right: 3px;
}

.rating.ia>span {
  margin-left: 10px;
  vertical-align: bottom;
}

.location {
  font-size: 15px;
  color: rgba(0, 0, 0, 40%);
  display: block;
}

.location>i {
  color: blue;
}

.subnav .subnavbtn {
  border: none;
  outline: none;
  color: black;
  padding: 0;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.subnavbtn .material-icons {
  padding-right: 0;
}

.subnav-content {
  visibility: hidden;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}

.subnav.active .subnav-content {
  animation: subNav 0.5s forwards;
}

.subnav.not-active .subnav-content {
  animation: subNavR 0.5s forwards;
}

.subnav {
  overflow: hidden;
}

@keyframes subNav {
  from {
    height: 0%;
    display: none;
    visibility: hidden;
  }
  to {
    height: max-content;
    display: block;
    visibility: visible;
  }
}

@keyframes subNavR {
  from {
    height: auto;
    display: block;
    visibility: visible;
  }
  to {
    height: 0%;
    display: none;
    visibility: hidden;
  }
}

.mt-5 {
  margin-top: 5em;
}

.m-auto {
  align-self: center;
}

.img-main {
  overflow: hidden;
  border-radius: 5px;
  height: 40vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-bar {
  white-space: nowrap;
  margin-top: 1em;
  width: 100%;
  height: auto;
  overflow: hidden;
  overflow-x: scroll;
}

.img-bar .image-on {
  display: inline;
  margin-right: 1em;
  border: none;
  outline: none;
  padding: 0;
  width: 25%;
}

.img-bar::-webkit-scrollbar {
  height: 5px;
}

.img-bar:hover::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: black;
}

.img-bar .image-on .image-h {
  display: inline-block;
  border-radius: 5px;
  width: 100%;
  height: 10vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  background-blend-mode: overlay;
  transition: background-color 1s;
}

.img-bar .image-on:hover .image-h {
  background-color: rgba(0, 0, 0, 40%);
}

.img-bar .image-on:last-child {
  margin-right: 0;
}

.pb-2 {
  padding-bottom: 2em;
}

.mt-2 {
  margin-top: 2em;
}

.mr-1 {
  padding-right: 1em;
}

.card.ia {
  border-radius: 5px;
  padding: 1em;
  overflow-wrap: anywhere;
}

.card.ia p {
  padding: 0;
  margin: 0;
}

.review, .weather {
  margin-bottom: 1em;
  margin-top: 2em;
}

.review:first-child, .weather:first-child {
  margin-top: 0;
}

.review-head {
  height: 7vh;
}

.review-head div {
  display: inline-block;
}

.review-head .head-img {
  height: 5vh;
  width: 5vw;
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.review-head .head-body {
  margin-left: 1em;
}

.review-head p {
  display: inline-block;
}

.review-head span {
  color: rgba(0, 0, 0, 30%);
}

/* .review-body {
  /* margin-top: 1em; */
  /* margin-bottom: 1em; */
  /* border-bottom: 1px solid rgba(0, 0, 0, 40%); */
/* } */

.hr.ia {
  margin: 1em 0;
}

.weather {
  margin-top: 0;
}

.weather p {
  display: inline-block;
}

.weather:last-child {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1em;
}

.mt-1 {
  margin-top: 1em;
}

.valign-super {
  vertical-align: super;
}

p, h1 {
  padding: 0;
  margin: 0;
}

.breadcumb {
  margin-bottom: 1em;
}

h1.title {
  color: #282c34;
  font-weight: 500;
}

.button-row button:not(:last-child) {
  margin-right: 1em;
}

.about {
  margin-top: 1em;
}

.about p {
  margin-bottom: 10px;
}

.about span {
  display: inline-grid;
  color: rgba(0, 0, 0, 40%);
  margin-left: 5px;
}

.about span p {
  display: inline-block;
  margin: 0;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  width: 70%;
  background-color: white;
  margin: auto;
  border-radius: 7px;
  padding: 1em 2em;
}

.modal-content .modal-header {
  text-align: end;
}

.modal-content .modal-header .close:hover {
  color: red;
  cursor: pointer;
}

.text-left {
  text-align: left;
}

.w-100 {
  width: 100%;
}

.favorite {
  font-size: 20px;
}